@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EmployeeManagement.ViewModel.SCRN0002ViewModel;

@{
    Layout = "";
}
<head>
    <link rel="stylesheet" href="./css/SCRN0002.css">

    <title>社員管理システム</title>

</head>
    <p1>新規社員登録</p1>

    <div>
        @*エラーメッセージ（ラベル）*@
        @foreach (var displayItem in Model.ErrorMessageList)
        {
            @Html.Label(displayItem.DisplayForMessage) <br />
        }
        <br>
        @*社員ID入力欄*@
        <td>社員ID</td>
        @using (Html.BeginForm("Excute", "SCRN0002", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.EmployeeID, new { size = 31, maxlength = 8 })
            <br>
            @*部署*@
            <td>部署</td>
            @Html.DropDownListFor(

    Model => Model.AffiliationCd,
    new SelectListItem[]
       {
            new SelectListItem(){Value="AffiliationCd1",Text="部署"},
            new SelectListItem(){Value="aaa",Text="aaa"},
            new SelectListItem(){Value="aaa",Text="aaa"}
    }
    )
            <br>
            @*役職*@
            <td>役職</td> @Html.DropDownListFor(
Model => Model.PositionCd,
new SelectListItem[]
{
new SelectListItem(){Value="PositionCd1",Text="役職"},
new SelectListItem(){Value="a2",Text="aaa"},
new SelectListItem(){Value="a3",Text="aaa"}
}
)
            <br>
            <td>氏名</td>
            @Html.TextBoxFor(model => model.EmployeeName, new { size = 31, maxlength = 32 })
            <br>
            <td>性別</td>
            <br>
            <td>男</td>
            @Html.RadioButtonFor(

            model => model.Gender,
            "男",
            true
            )
            <td>女</td>
            @Html.RadioButtonFor(
            model => model.Gender,
            "女"
            )
            <br>
            <td>外国籍</td>
            @Html.CheckBoxFor(
            model => model.ForeignNationality
            )
            <br>
            <td>生年月日</td>
            @Html.TextBoxFor(model => model.BirthDay, "{0:dd/MM/yyyy}", new
            {
                @class = "width-xx"
            })
            <br>

            <td>基本給</td>
            @Html.TextBoxFor(model => model.BaseSalary, new { size = 31, minlength = 1, maxlength = 8 })
            <br>
            @*新規登録ボタン*@
            <button> 新規登録 </button>
        }
        <br>
        @* TODO 戻った後css適応されない*@
        @using (Html.BeginForm("Index", "SCRN0001", FormMethod.Get))
        {
            <button>戻る</button>
        }

    </div>