@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EmployeeManagement.ViewModel.SCRN0003ViewModel;
@{
    Layout = "";
}
<head>
    <link rel="stylesheet" href="~/css/SCRN0003.css">

    <title>社員管理システム</title>
</head>
<p1>新規社員登録</p1>

@*エラーメッセージ（ラベル）*@
<p>
    <label>
        @foreach (var displayItem in Model.ErrorMessageList)
        {
            @Html.Label(displayItem.DisplayForMessage) <br />
        }
    </label>
</p>

<table>
    @using (Html.BeginForm("Index", "SCRN0003", FormMethod.Post, new { id = "form_employee_insert_info" }))
    {
        <tr>
            @*社員ID入力欄*@
            <td>社員ID</td>
            <td>
                @Html.TextBoxFor(model => model.EmployeeID, new { size = 31, maxlength = 8 })
            </td>

        </tr>
        @*部署*@
        <tr>
            <td>部署</td>
            <td>
                @Html.DropDownListFor(
                Model => Model.AffiliationCd,
                new SelectList(Model.AffiliationList, "AffiliationCd", "AffiliationNm"))
            </td>
        </tr>

        <tr>
            @*役職*@
            <td>役職</td>
            <td>
                @Html.DropDownListFor(
                Model => Model.PositionCd,
                new SelectList(Model.PositionList, "PositionCd", "PositionNm"))
            </td>
        </tr>

        <tr>
            @*氏名*@
            <td>氏名</td>
            <td>
                @Html.TextBoxFor(model => model.EmployeeName, new { size = 31, maxlength = 33 })
            </td>
        </tr>
        <tr>
            @*性別*@
            <td>性別</td>
            <td>
                @Html.RadioButtonFor(
                model => model.Gender, 1)
                男
                @Html.RadioButtonFor(
                model => model.Gender, 3)
                女
                @Html.CheckBoxFor(
                model => model.ForeignNationality
                )
                外国籍
            </td>
        </tr>

        <tr>
            @*生年月日*@
            <td>生年月日</td>
            <td>
                @Html.TextBoxFor(model => model.BirthDay, "{0:yyyy/MM/dd}", new
                {
                    @class = "width-xx",
                    type = "string"
                })
            </td>
        </tr>

        <tr>
            @*基本給*@
            <td>基本給</td>
            <td>
                @Html.TextBoxFor(model => model.BaseSalary, new { size = 31, minlength = 1, maxlength = 8 })
                <label style="font-size:10px">(千円)</label>
            </td>
        </tr>

        <tr>
            @*メモ*@
            <td>メモ</td>
            <td>
                @Html.TextAreaFor(model => model.Memo, new { size = (31, 31) })
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm("Back", "SCRN0003", FormMethod.Get, new { id = "form_employee_info" }))
{
}
@*ボタン*@
<div class="insert-btn-Area">
    <button type="submit" form="form_employee_insert_info">新規登録</button>
    @*ボタン間の空白*@
    <p1>　　　　　</p1>
    <button type="submit" form="form_employee_info">戻る</button>
</div>


